Package: me.ancal.iosip
Name: iOSIP
Version: 1.1.0
Architecture: iphoneos-arm
Description: SIP-first calling for iOS 6-9 Phone.app
Maintainer: Ancal
Author: Ancal
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
