<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>iOSIP</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SIP_ACCOUNT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>me.ancal.iosip</string>
			<key>key</key>
			<string>Server</string>
			<key>label</key>
			<string>SERVER</string>
			<key>autocapitalizationType</key>
			<integer>0</integer>
			<key>autocorrectionType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>me.ancal.iosip</string>
			<key>key</key>
			<string>Port</string>
			<key>label</key>
			<string>PORT</string>
			<key>default</key>
			<string>5060</string>
			<key>keyboard</key>
			<string>NumberPad</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>me.ancal.iosip</string>
			<key>key</key>
			<string>Username</string>
			<key>label</key>
			<string>USERNAME</string>
			<key>autocapitalizationType</key>
			<integer>0</integer>
			<key>autocorrectionType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSecureEditTextCell</string>
			<key>defaults</key>
			<string>me.ancal.iosip</string>
			<key>key</key>
			<string>Password</string>
			<key>label</key>
			<string>PASSWORD</string>
			<key>autocapitalizationType</key>
			<integer>0</integer>
			<key>autocorrectionType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>NETWORK</string>
			<key>footerText</key>
			<string>MEDIA_HOST_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>me.ancal.iosip</string>
			<key>key</key>
			<string>MediaHost</string>
			<key>label</key>
			<string>MEDIA_HOST</string>
			<key>autocapitalizationType</key>
			<integer>0</integer>
			<key>autocorrectionType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>SAVE_AND_REREGISTER</string>
			<key>action</key>
			<string>applySettings</string>
		</dict>
	</array>
</dict>
</plist>
